@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
.master {
  width: auto;
  height: auto;
}

.navigation {
  background-color: rgb(19, 25, 39);
  color: white;
  width: 100%;
  z-index: 5;
  height: 110px;
}
.navIteams {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  margin: auto 3%;
}
.navIteams .menu {
  height: 100%;
  width: fit-content;
  position: relative;
  display: inline-block;
  margin: 0px;
}
.menu #menuLines {
  margin-top: 50%;
  display: block;
  font-size: 25px;
  transform-origin: center;
  transition: 1s;
}
.menu #menuLines svg:hover {
  transform-origin: center;
  transition: 1s;
  transform: rotate(135deg);
  color: white;
}

.ddown {
  display: none;
  font-size: 14px;
  position: absolute;
  background-color: #192133;
  min-width: 130px;
  margin-top: 7px;
  margin-left: -15px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.ddown .navFix {
  display: none;
}

.ddown a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(199, 201, 202);
}
.ddown a:hover {
  color: white;
}
.ddown a:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.menu:hover .ddown {
  display: block;
}
.menu a:hover {
  color: white;
  transition: 400ms;
  text-decoration: none;
}
.navigation .line {
  width: 10px;
  color: white;
  height: auto;
}
.logoo {
  margin-left: 2%;
}
.logoo img {
  padding-top: 3%;
  margin-top: 10%;
}

.ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.ul .li {
  width: auto;
  height: 50%;
  color: rgb(199, 201, 202);
  font-size: 15px;
  padding: 3%;
  cursor: pointer;
  list-style-type: none;
}
.ul .li:hover {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 30px;
}
.dropdown-content {
  display: none;
  font-size: 14px;
  position: absolute;
  background-color: #192133;
  min-width: 130px;
  margin-top: 7px;
  margin-left: -15px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.dropdown-content a {
  color: rgb(199, 201, 202);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown a:hover {
  color: white;
  transition: 400ms;
}
.searchField {
  width: fit-content;
  height: 60%;
  display: flex;
  margin-left: auto;
  border-bottom: 1px solid white;
  align-items: center;
}
.fixin {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  height: auto;
}
.searchField .sear {
  padding: 4px;
  border: 0px solid;
  background-color: transparent;
  color: rgb(226, 226, 226);
}
.sear::placeholder {
  color: rgb(199, 201, 202);
}
.sear:focus {
  outline: none;
}

.last {
  display: absolute;
  right: 0px;
  margin: auto 0px;
}

/* ADD ANOTHER CODE  */
.innerMaster {
  width: 100%;
  height: auto;
  padding: 0% 3%;
  margin-top: 9%;
}
.head {
  background-color: rgb(22, 27, 34);
  padding: 15px 25px;
  width: 100%;
  height: auto;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  border-radius: 5px;
}
.head h1 {
  color: #fff;
  font-weight: 400;
}
.movie_name p {
  margin-top: 10px;
  margin-bottom: 0px;

  color: #adb5bd;
}
.starRating {
  display: block;
  width: auto;
  color: #adb5bd;
  margin: 3px;
  margin-left: auto;
}
.rate:first-child {
  margin-bottom: 0px;
}
.starLine {
  display: flex;
}
.starRating p:first-child {
  margin-bottom: 0px;
  margin-top: 5px;
}
.starLine p {
  color: #adb5bd;
  margin-bottom: 1px;
}
.starLine svg {
  margin-right: 5px;
  color: rgb(255, 230, 0);
  margin-top: 5px;
}

.content-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  /* flex-wrap: wrap; */
  /* background-color: red; */
}
.main-img {
  width: fit-content;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.content-desc {
  width: max-content;
  height: auto;
  display: flex;
  margin: 0% 0% 0% 3%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: -webkit-linear-gradient(110deg, rgb(22, 27, 34) 60%, #343a40 60%);
  background: -o-linear-gradient(110deg, rgb(22, 27, 34) 60%, #343a40 60%);
  background: -moz-linear-gradient(110deg, rgb(22, 27, 34) 60%, #343a40 60%);
  background: linear-gradient(110deg, rgb(22, 27, 34) 60%, #343a40 60%);
}
.in-desc {
  width: auto;
  height: fit-content;
  margin: auto 0px;
  padding: 0% 6%;
  overflow: scroll;
  color: #adb5bd;
}
.in-desc h3 {
  font-size: 1.75rem;
  border-left: 5px solid #00ff14;
  padding-left: 10px;
  border-radius: 5px;
}
.head2 h2 {
  border-left: 5px solid #00ff14;
  padding-left: 10px;
  border-radius: 5px;
}
.in-desc p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
}

.slidee {
  margin-top: 3%;
  transition: 1s;
}
.head2 {
  background-color: rgb(22, 27, 34);
  padding: 15px 25px;
  width: 100%;
  color: white;
  height: 75px;
  margin-top: 3%;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  border-radius: 5px;
}
.head3 {
  /* background-color: rgb(22, 27, 34); */
  padding: 15px 25px;
  width: 100%;
  color: white;
  height: auto;
  margin-top: 3%;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  border-radius: 5px;
  background: linear-gradient(35deg, red, purple);
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: auto;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2) 3em
    );
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.select2 {
  width: 100%;
  height: 3em;
  display: flex;
  border-radius: 0.25em;
  margin-left: 2em;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.select2:hover {
  transition: 1s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.download-text {
  width: auto;
  height: fit-content;
}
.download-text span {
  font-size: 25px;
  margin: 5px;
}
select option {
  color: inherit;
  background-color: #320a28;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

/* FIXME:  */

.main-poster {
  width: 100%;
  margin: 2.5% auto;
  height: auto;
  display: inline-block;
  padding: 0% 2%;
}

.title-bar {
  display: flex;
}
.title-bar h4 {
  font-size: 25px;
}
.desc {
  width: auto;
  height: auto;
}

.bord {
  width: 6px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 3px;
  height: 30px;
}
.posting {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.con {
  position: relative;
  z-index: 3;
  margin: 15px 5px;
  height: 222px;
  overflow: hidden;
  width: 160px;
  max-width: 300px;
}

.image {
  display: block;
  width: 160px;
  border-radius: 5px;
  height: auto;
  z-index: 3;
}

.overlay {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgb(19, 25, 39)
  );
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 10;
  opacity: 0;
  justify-content: end;
  padding: 5px;
  transition: all 0.5s ease-out;
  font-size: 12px;
  text-align: left;
}
.con:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
  /* height: auto; */
  z-index: 8;
  transition: all 0.5s ease-out;
}
.con:hover .overlay {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.desc {
  padding: 3px;
  position: absolute;
  bottom: 0px;
}
.desc span {
  font-size: 13px;
}
.desc p {
  font-size: 10px;
  margin: 0px;
}

/* FOOTER  */

.footer {
  position: relative;
  width: 100%;
  background: rgb(19, 25, 39);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*TODO: Media queary  */
@media only screen and (min-width: 461px) {
  .navigation {
    height: 70px;
  }
  .menu {
    margin-left: 3px;
  }
}
@media only screen and (max-width: 460px) {
  .logoo {
    width: max-content;
    height: auto;
    margin: auto;
    margin-top: 0px;
    padding: 1%;
  }
  .fixin {
    display: block;
  }
  .searchField {
    margin: auto;
    padding: 1%;
  }
  .slidder {
    margin-top: 115px;
  }
  .ddown {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 768px) {
  .ul {
    width: 50%;
  }
}
@media only screen and (max-width: 630px) {
  .ul {
    display: none;
  }
  .ddown .navFix {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .ul {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .ul {
    width: 20%;
  }
}
