<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C41PMHZWD8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-C41PMHZWD8');
    </script>
    <meta name="google-site-verification" content="Iea83kTsV4DXDXNzDbE1-C3MJWbf6FqGy3Hvq8T2Hao" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion | Daddy Hub</title>
    <link rel="shortcut icon" type="image/png" href="/images/main_logo.png" />
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .suu {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .su {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    .ho {
        width: 100%;
        display: flex;
        margin-top: 20px;
        height: auto;
        color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .hoo {
        font-size: 2rem;
        color: #000;
        margin: 0 10px;
        width: 50px;
        height: 50px;
        display: inline-block;
        transition: 0.5s;
        background: white;
        border-radius: 35px;
        box-shadow: hsla(0, 100%, 50%, 0.56) 0px 22px 70px 4px;
    }

    .hoo:hover {
        transition: 0.75s;
        color: white;
        background-color: black;
        box-shadow: hsla(0, 0%, 97%, 0.56) 0px 22px 70px 4px;
    }

    .hoo ion-icon {
        margin: 8px 0px 0px 9px;
    }
</style>

<body
    style="background-image: url('/images/bg-suggestion.jpeg'); background-repeat: no-repeat; width: 100vw; height: 100vh; background-size: cover;">
    <div class="suu">
        <div class="su">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSel9fY1cEYNcqvIng_B6NBw_2Je287DYhs_wu9bmNADfcT_hw/viewform?embedded=true"
                width="640" height="574" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <div class="ho">
                <a class="hoo" href="https://daddyhub.in/">
                    <ion-icon name="home-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>