* {
  margin: 0px;
  padding: 0px;
}
.master {
  width: auto;
  height: auto;
}

.navigation {
  background-color: rgb(19, 25, 39);
  color: white;
  width: 100%;
  transition: 1s;
  z-index: 5;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navIteams {
  width: auto;
  height: 100%;
  display: flex;
  transition: 1s;
  position: relative;
  margin: auto 3%;
}
.navIteams .menu {
  height: 100%;
  width: fit-content;
  position: relative;
  transition: 1s;
  display: inline-block;
  margin: 0px;
}
.menu #menuLines {
  margin-top: 50%;
  display: block;
  font-size: 25px;
  transform-origin: center;
  transition: 1s;
}
.menu #menuLines svg:hover {
  transform-origin: center;
  transition: 1s;
  transform: rotate(135deg);
  color: white;
}

.ddown {
  display: none;
  font-size: 14px;
  position: absolute;
  background-color: #192133;
  min-width: 130px;
  transition: 1s;
  margin-top: 7px;
  margin-left: -15px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.ddown .navFix {
  display: none;
}

.ddown a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(199, 201, 202);
}
.ddown a:hover {
  color: white;
}
.ddown a:hover {
  transition: 1s;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.menu:hover .ddown {
  display: block;
}
.menu a:hover {
  color: white;
  transition: 400ms;
  text-decoration: none;
}
.navigation .line {
  width: 10px;
  color: white;
  height: auto;
}
.logoo {
  margin-left: 2%;
}
.logoo img {
  padding-top: 3%;
  margin-top: 10%;
}

.ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  align-items: center;
  margin: 0px;
  transition: 1s;
  padding: 0px;
}
.ul .li {
  width: auto;
  height: 50%;
  color: rgb(199, 201, 202);
  font-size: 15px;
  transition: 1s;
  padding: 3%;
  cursor: pointer;
  list-style-type: none;
}
.ul .li:hover {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 1s;
  height: 30px;
}
.dropdown-content {
  display: none;
  font-size: 14px;
  position: absolute;
  background-color: #192133;
  min-width: 130px;
  transition: 1s;
  margin-top: 7px;
  margin-left: -15px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.dropdown-content a {
  color: rgb(199, 201, 202);
  padding: 12px 16px;
  transition: 1s;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
  transition: 1s;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  transition: 1s;
  display: block;
}
.dropdown a:hover {
  color: white;
  transition: 400ms;
}
.searchField {
  width: fit-content;
  height: 60%;
  display: flex;
  margin-left: auto;
  transition: 1s;
  border-bottom: 1px solid white;
  align-items: center;
}
.fixin {
  width: 100%;
  display: flex;
  transition: 1s;
  /* flex-direction: row; */
  height: auto;
}
.searchField .sear {
  transition: 1s;
  padding: 4px;
  border: 0px solid;
  background-color: transparent;
  color: rgb(226, 226, 226);
}
.sear::placeholder {
  color: rgb(199, 201, 202);
}
.sear:focus {
  outline: none;
}

.last {
  display: absolute;
  right: 0px;
  transition: 1s;
  margin: auto 0px;
}

/* Slider */
.slidder {
  margin-top: 80px;
  width: 100%;
  position: relative;
  height: 100%;
  transition: 1s;
  overflow: hidden;
  background-size: cover;
}
.slide {
  height: 100%;
  overflow: hidden;
}

.slidder img {
  transition: 1s;
  /* background-position: center; */
  background-size: cover;
}

.main-back {
  display: flex;
  height: auto;
  transition: 1s;
  overflow: hidden;
}
#bg-trans1 {
  width: 20%;
  position: absolute;
  transition: 1s;
  height: 100%;
  z-index: 5;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
#bg-trans2 {
  width: 18%;
  position: absolute;
  right: 0px;
  transition: 1s;
  top: 0px;
  height: 100%;
  z-index: 5;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.carousel-control-prev {
  left: 0;
  transition: 1s;
  z-index: 6;
}
.carousel-control-next {
  right: 0;
  transition: 1s;
  z-index: 6;
}

.main-poster {
  width: 100%;
  margin: 2.5% auto;
  height: auto;
  transition: 1s;
  display: inline-block;
  padding: 0% 2%;
}

.title-bar {
  transition: 1s;
  display: flex;
}
.title-bar h4 {
  transition: 1s;
  font-size: 25px;
}
.desc {
  width: auto;
  height: auto;
  bottom: 0px;
}

.bord {
  width: 6px;
  border-radius: 10px;
  transition: 1s;
  margin-left: 10px;
  margin-top: 3px;
  height: 30px;
}
.posting {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.con {
  position: relative;
  z-index: 3;
  margin: 15px 5px;
  height: 222px;
  transition: 1s;
  overflow: hidden;
  width: 160px;
  max-width: 300px;
}

.image {
  display: block;
  transition: 1s;
  width: 160px;
  border-radius: 5px;
  height: auto;
  z-index: 3;
}

.overlay {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  transition: 1s;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgb(19, 25, 39)
  );
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 10;
  opacity: 0;
  justify-content: end;
  padding: 5px;
  transition: all 0.5s ease-out;
  font-size: 12px;
  text-align: left;
}
.con:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
  /* height: auto; */
  z-index: 8;
  transition: all 0.5s ease-out;
}
.con:hover .overlay {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.desc {
  padding: 3px;
  transition: 1s;
  position: absolute;
  bottom: 0px;
}
.desc span {
  transition: 1s;
  font-size: 13px;
}
.desc p {
  font-size: 10px;
  margin: 0px;
}

.pageButton {
  display: flex;
  width: 100%;
  height: 50px;
}
.buttonmain {
  transition: 1s;
  width: 25%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.jaydeep {
  color: rgb(194, 194, 194);
  width: auto;
  height: auto;
}
.jaydeep svg {
  margin: auto 0px;
}
.jaydeep:hover {
  color: white;
}

/* FOOTER  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: rgb(19, 25, 39);
  min-height: 100px;
  transition: 1s;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  transition: 1s;
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  transition: 1s;
  font-size: 1rem;
  font-weight: 300;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*TODO: Media queary  */
@media only screen and (min-width: 461px) {
  .navigation {
    height: 70px;
  }
  .menu {
    margin-left: 3px;
  }
}
@media only screen and (max-width: 460px) {
  .logoo {
    width: max-content;
    height: auto;
    margin: auto;
    margin-top: 0px;
    padding: 1%;
  }
  .fixin {
    display: block;
  }
  .searchField {
    margin: auto;
    padding: 1%;
  }
  .slidder {
    margin-top: 115px;
  }
  .ddown {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 768px) {
  .ul {
    width: 50%;
  }
}
@media only screen and (max-width: 630px) {
  .ul {
    display: none;
  }
  .ddown .navFix {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .ul {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .ul {
    width: 20%;
  }
}
